@import './fonts.css';

:root {
  --radius: 5px;
  --hover-color: #3172b9;
  --focus-color: #71a7e2;
  --active-color: #0e3b6c;
  --disabled-color: #c4c4c4;

  --gap: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  min-width: 320px;
  font-family: 'OpenSans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  color: #787878;
}

/* glob */
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.bordered {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}

/* section */
.section {
  padding-top: 87px;
  padding-bottom: 160px;
  border-bottom: 1px solid #dadada;
}

.section__title {
  margin: 0 0 40px 0;
  font-size: 36px;
  font-weight: 300;
  line-height: 130%;
  color: #1c1c1c;
}

.section__description {
  margin: 0 0 50px 0;
  font-size: 16px;
  text-align: center;
}

/* buttons */
.button-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button {
  position: relative;
  padding: 15px 35px;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--hover-color);
  color: #fff;
  transition: background-color .3s ease-in-out;
}

.button::after {
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  opacity: 0;
  outline: none;
  border: 1px solid var(--hover-color);
  border-radius: inherit;
  content: '';
  transition: opacity .3s ease-in-out;
}

.button:focus::after {
  opacity: 1;
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--focus-color);
  }
}


.button:active {
  background-color: var(--active-color);
}

.button:active::after {
  opacity: 0;
}

.button:disabled {
  background-color: var(--disabled-color);
  cursor: not-allowed;
}

/* headings */
.heading-3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  color: #1c1c1c;
}

/* header */
.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 52px;
}

.header__nav-list {
  display: flex;
  column-gap: 52px;
}

.header__list-item-link {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #1c1c1c;
  transition: color .3s ease-in-out;
}

.header__list-item-link:focus {
  outline: 1px solid var(--focus-color);
  outline-offset: 3px;
}

@media (hover: hover) {
  .header__list-item-link:hover {
    color: var(--focus-color);
  }
}


.header__list-item-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  content: '';
  transition: opacity .3s ease-in-out;
}

.header__list-item-link:active {
  outline: none;
  color: #3474ba;
}

.header__list-item-link:active::after {
  opacity: 1;
}

/* hero */
.hero {
  padding: 100px 0 150px;
  background-image: url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.hero__content {
  max-width: 529px;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0 0 26px 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 130%;
  color: #1c1c1c;
}

.hero__description {
  margin: 0 0 34px 0;
  font-size: 16px;
  line-height: 155%;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 14px;
}

.hero__button {
  min-width: 250px;
}

.hero__secure {
  padding-left: 27px;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 155%;
  background-image: url("../img/secure.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px 17px;
}

/* services */
.services__title {
  text-align: center;
}

.services__items {
  display: flex;
  flex-wrap: wrap;
  --offsets: 3;
  gap: var(--gap);
}

.services__item {
  display: flex;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  padding: 60px 30px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.services__item-title {
  margin: 0 0 15px 0;
  text-align: center;
  transition: color .3s ease-in-out;
}

.services__item-description {
  margin: 0;
  text-align: center;
  line-height: 150%;
  transition: color .3s ease-in-out;
}

.services__item-icon {
  margin-bottom: 28px;

}

.services__item-icon svg path {
  transition: fill .3s ease-in-out;
  fill: var(--hover-color);
}

@media (hover: hover) {
  .services__item:hover {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
  }

  .services__item:hover .services__item-icon svg path {
    fill: #fff;
  }

  .services__item:hover .services__item-title,
  .services__item:hover .services__item-description {
    color: #fff;
  }
}


/* articles */
.articles__list {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
  --offsets: 1;
  gap: var(--gap);
}

.articles__item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.blog-preview {
  overflow: hidden;
  width: 100%;
  border-radius: var(--radius);
}

.blog-preview__link {
  position: relative;
  display: flex;
  width: 100%;
}

.blog-preview__image {
  width: 170px;
  height: 180px;
  object-fit: cover;
}

.blog-preview__text {
  width: 100%;
  padding: 23px 30px;
  border-width: 1px;
  border-left-width: 0;
  border-style: solid;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-color: #e4e4e4;
  background-color: #fff;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.blog-preview__time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  transition: color .3s ease-in-out;
}

.blog-preview__title {
  margin: 0 0 15px 0;
  transition: color .3s ease-in-out;
}

.blog-preview__description {
  max-width: 210px;
  margin: 0;
  line-height: 150%;
  transition: color .3s ease-in-out;
}

@media (hover: hover) {
  .blog-preview__link:hover .blog-preview__text {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
  }

  .blog-preview__link:hover .blog-preview__title,
  .blog-preview__link:hover .blog-preview__time,
  .blog-preview__link:hover .blog-preview__description {
    color: #fff;
  }
}


.blog-preview__link:focus .blog-preview__text {
  border-color: var(--focus-color);
  background-color: var(--focus-color);
}

.blog-preview__link:focus .blog-preview__title,
.blog-preview__link:focus .blog-preview__time,
.blog-preview__link:focus .blog-preview__description {
  color: #fff;
}

.blog-preview__link:active .blog-preview__text {
  border-color: var(--active-color);
  background-color: var(--active-color);
}

.blog-preview__link:active .blog-preview__title,
.blog-preview__link:active .blog-preview__time,
.blog-preview__link:active .blog-preview__description {
  color: #fff;
}

/* clients */
.clients__list {
  display: flex;
  flex-wrap: wrap;
  --offsets: 2;
  gap: var(--gap);
}

.clients__item {
  display: flex;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  padding: 51px 36px 32px;
  flex-direction: column;
}

.clients__item-description {
  max-width: 281px;
  margin: 0 0 33px 0;
  line-height: 180%;
}

.clients__user {
  display: flex;
  padding-top: 28px;
  border-top: 1px solid #e4e4e4;
  margin-top: auto;
  align-items: center;
  column-gap: 17px;
}

.clients__user-avatar {
  width: 67px;
  flex-shrink: 0;


}

.clients__user-avatar img {
  overflow: hidden;
  border: 2px solid #3172b9;
  border-radius: 50%;
}

.clients__client-name {
  font-size: 17px;
  font-weight: 600;
  line-height: 180%;
  color: #1c1c1c;
}

.clients__client-role {
  display: block;
  margin-top: -4px;
  line-height: 180%;
}

/* contacts */
.contacts__title {
  margin-bottom: 109px;
}

.contacts__address {
  font-style: normal;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  --offsets: 2;
  gap: var(--gap);
}

.contacts__item {
  display: flex;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
  padding-top: 48px;
  flex-direction: column;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.contacts__item_location {
  background-image: url("../img/location_on.svg");
}

.contacts__item_call {
  background-image: url("../img/phone.svg");
}

.contacts__item_mail {
  background-image: url("../img/mail.svg");
}

.contacts__item-caption {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 600;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts__item-text {
  max-width: 214px;
  margin: 0;
  line-height: 180%;
}

.contacts__item-link {
  width: fit-content;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 149%;
  transition: color .3s ease-in-out;
}

.contacts__item-link:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__item-link:hover {
  color: var(--hover-color);
}

.contacts__item-link:focus {
  border-color: var(--focus-color);
}

.contacts__item-link:active {
  border-color: transparent;
  color: var(--active-color);
}

/* join-us */
.join-us {
  padding-bottom: 122px;
}

.join-us__title {
  margin-bottom: 22px;
  text-align: center;
}

.join-us__description {
  margin-bottom: 30px;
}

.form {
  display: flex;
  padding-right: 55px;
  padding-left: 55px;
  flex-direction: column;
  --gap: 19px;
  gap: 19px;
}

.form__top-row {
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.form__left-column {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--gap);
}

.form__right-column {
  width: 50%;
}

.form__item {
  width: 250px;
  padding: 16px 28px;
  border: 1px solid #dadada;
  font-size: 16px;
  line-height: 180%;
  background: #fff;
  color: #787878;
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.form__input {
  border-radius: 50px;
}

.form__select {
  border-radius: 50px;
}

.form__textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.form__item:focus {
  outline: none;
  border-color: var(--focus-color);
  background-color: rgba(113, 167, 226, 0.20);
}

@media (hover: hover) {
  .form__item:hover {
    border-color: var(--focus-color);
  }
}

.form__item:active {
  outline: none;
  border: 1px solid var(--active-color);
  color: #1c1c1c;
}

.form__bottom-row {
  display: flex;
  justify-content: flex-end;
}

.form__bottom-row-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 9px;
}

.form__submit-button {
  min-width: 230px;
  border-radius: 50px;
}

.form__checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
}

.form__checkbox input {
  margin-right: 8px;
}

.form__checkbox a {
  padding-left: 3px;
  text-decoration: underline;
  color: #3172b9;
}

/* footer */
.footer {
  padding: 0 42px;
}

.footer__container {
  display: flex;
  padding-top: 44px;
  padding-bottom: 44px;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 12px;
}

.footer__left,
.footer__right,
.footer__nav-list,
.footer__social {
  display: flex;
  align-items: center;
}

.footer__left {
  column-gap: 25px;
}

.footer__right {
  column-gap: 56px;
}

.footer__nav-list {
  column-gap: 28px;
}

.footer__social {
  column-gap: 32px;
}

.footer__nav-list-item-link {
  font-size: 15px;
  font-weight: 600;
  transition: outline-color .3s ease-in-out, color .3s ease-in-out;
}

.footer__nav-list-item-link:focus {
  outline: 1px solid var(--focus-color);
  outline-offset: 3px;
}

@media (hover: hover) {
  .footer__nav-list-item-link:hover {
    color: var(--hover-color);
  }
}

.footer__nav-list-item-link:active {
  outline: none;
  color: var(--active-color);
}

.footer__social-item-link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  transition: outline-color .3s ease-in-out;
}

.footer__social-item-link svg path {
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.footer__social-item-link:focus {
  outline: 1px solid var(--focus-color);
}

@media (hover: hover) {
  .footer__social-item-link_twitter:hover svg path,
  .footer__social-item-link_linkedin:hover svg path {
    fill: var(--focus-color);
  }

  .footer__social-item-link_mail:hover svg path {
    stroke: var(--focus-color);
  }
}

.footer__social-item-link:active {
  outline: none;
}

.footer__social-item-link_twitter:active svg path,
.footer__social-item-link_linkedin:active svg path {
  fill: var(--hover-color);
}

.footer__social-item-link_mail:active svg path {
  stroke: var(--hover-color);
}
