.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
}

.checkbox input {
  position: absolute;
  z-index: -10000;
  visibility: hidden;
}

.checkbox span {
  position: relative;
  padding-left: 22px;
}

.checkbox a {
  padding-left: 3px;
  text-decoration: underline;
  color: #3172b9;
}

.checkbox span::before,
.checkbox span::after {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  content: '';
  transform: translateY(-50%);
}

.checkbox span::before {
  border: 1px solid var(--disabled-color);
}

.checkbox span::after {
  opacity: 0;
  background: url("../../icons/check.svg") no-repeat center;
  background-size: 16px;
  transition: opacity .3s ease-in-out;
}

.checkbox input:checked + span::after {
  opacity: 1;
}


