@import url(./blog-preview.css);

.articles__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--offset);
  --offset: 30px;
  --offsets: 1;
}

.articles__list > * {
  width: calc((100% - (var(--offsets) * var(--offset))) / (var(--offsets) + 1));
}

@media (max-width: 576px) {
  .articles__list {
    --offsets: 0;
    --offset: 14px;
  }
}
