@import url(./blog-preview.css);

.articles__list {
  display: flex;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.articles__item {
  width: 570px;
}

.articles__item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.articles__item:not(:nth-last-child(-n-2)) {
  margin-top: 30px;
}
