.contacts__title {
  margin-bottom: 109px;
}

.contacts__address {
  font-style: normal;
}

.contacts__list {
  display: flex;
  gap: var(--offset);
  --offsets: 2;
}

.contacts__item {
  display: flex;
  width: calc((100% - (var(--offsets) * var(--offset))) / (var(--offsets) + 1));
  padding-top: 48px;
  flex-direction: column;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
}

.contacts__item_location {
  background-image: url("images/location_on.svg");
}

.contacts__item_call {
  background-image: url("images/phone.svg");
}

.contacts__item_mail {
  background-image: url("images/mail.svg");
}

.contacts__item-caption {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 600;
  line-height: 180%;
  color: #1c1c1c;
}

.contacts__item-text {
  max-width: 214px;
  margin: 0;
  line-height: 180%;
}

.contacts__item-link {
  width: fit-content;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0;
  line-height: 149%;
  transition: color .3s ease-in-out;
}

.contacts__item-link:not(:last-child) {
  margin-bottom: 5px;
}

.contacts__item-link:hover {
  color: var(--hover-color);
}

.contacts__item-link:focus {
  border-color: var(--focus-color);
}

.contacts__item-link:active {
  border-color: transparent;
  color: var(--active-color);
}

@media (max-width: 576px) {
  .contacts__list {
    flex-direction: column;
    --offsets: 0;
    --offset: 32px;
  }

  .contacts__item {
    padding-top: 36px;
    background-size: 27px;
  }

  .contacts__item-caption {
    margin-bottom: 10px;
  }
}
