.footer {
  padding: 0 42px;
}

div.footer__container {
  display: flex;
  padding-top: 44px;
  padding-bottom: 44px;
  align-items: center;
  justify-content: space-between;
  column-gap: 32px;
}

.footer__logo {
  height: fit-content;
}

.footer__copyright {
  font-size: 12px;
}

.footer__left,
.footer__right {
  display: flex;
  align-items: center;
}

.footer__left {
  gap: 25px;
}

.footer__right {
  column-gap: 56px;
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  column-gap: 28px;
  row-gap: 16px;
}

.footer__nav-list-item-link {
  font-size: 15px;
  font-weight: 600;
  transition: outline-color .3s ease-in-out, color .3s ease-in-out;
}

.footer__nav-list-item-link:focus {
  outline: 1px solid var(--focus-color);
  outline-offset: 3px;
}

.footer__nav-list-item-link:hover {
  color: var(--hover-color);
}

.footer__nav-list-item-link:active {
  outline: none;
  color: var(--active-color);
}

.footer__social {
  display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 32px;
}

.footer__social-item-link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  transition: outline-color .3s ease-in-out;
}

.footer__social-item-link svg {
  width: 100%;
  height: 100%;
}

.footer__social-item-link svg path {
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.footer__social-item-link:focus {
  outline: 1px solid var(--focus-color);
}

@media (hover: hover) {
  .footer__social-item-link_twitter:hover svg path,
  .footer__social-item-link_linkedin:hover svg path {
    fill: var(--focus-color);
  }
}

.footer__social-item-link_mail:hover svg path {
  stroke: var(--focus-color);
}

.footer__social-item-link:active {
  outline: none;
}

.footer__social-item-link_twitter:active svg path,
.footer__social-item-link_linkedin:active svg path {
  fill: var(--hover-color);
}

.footer__social-item-link_mail:active svg path {
  stroke: var(--hover-color);
}

@media (max-width: 992px) {
  div.footer__container {
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: var(--offset);
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 0;
  }

  .footer__right {
    flex-direction: column;
    row-gap: var(--offset);
  }
}

@media (max-width: 576px) {
  .footer {
    position: relative;
  }

  div.footer__container {
    padding-top: 30px;
    padding-bottom: 70px;
    flex-direction: column-reverse;
  }

  .footer__left {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__nav-list {
    column-gap: 32px;
    row-gap: 19px;
  }

  .footer__copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid var(--disabled-color);
    text-align: center;

  }

  .footer__right {
    width: 100%;
    align-items: start;
  }

  .footer__social-item-link {
    width: 19px;
    height: 22px;
  }

  .footer__logo {
    max-width: 80px;
  }


}
