.footer {
  padding: 0 42px;
}

div.footer__container {
  display: flex;
  padding-top: 44px;
  padding-bottom: 44px;
  align-items: center;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 12px;
}

.footer__left,
.footer__right {
  display: flex;
  align-items: center;
}

.footer__logo {
  margin-right: 25px;
}

.footer__nav {
  margin-right: 56px;
}

.footer__nav-list {
  display: flex;
}

.footer__nav-list-item:not(:last-child) {
  margin-right: 28px;
}

.footer__nav-list-item-link {
  font-size: 15px;
  font-weight: 600;
  transition: outline-color .3s ease-in-out, color .3s ease-in-out;
}

.footer__nav-list-item-link:focus {
  outline: 1px solid var(--focus-color);
  outline-offset: 3px;
}

.footer__nav-list-item-link:hover {
  color: var(--hover-color);
}

.footer__nav-list-item-link:active {
  outline: none;
  color: var(--active-color);
}

.footer__social {
  display: flex;
}

.footer__social-item:not(:last-child) {
  margin-right: 32px;
}

.footer__social-item-link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  transition: outline-color .3s ease-in-out;
}

.footer__social-item-link svg {
  width: 100%;
  height: 100%;
}

.footer__social-item-link svg path {
  transition: fill .3s ease-in-out, stroke .3s ease-in-out;
}

.footer__social-item-link:focus {
  outline: 1px solid var(--focus-color);
}

.footer__social-item-link_twitter:hover svg path,
.footer__social-item-link_linkedin:hover svg path {
  fill: var(--focus-color);
}

.footer__social-item-link_mail:hover svg path {
  stroke: var(--focus-color);
}

.footer__social-item-link:active {
  outline: none;
}

.footer__social-item-link_twitter:active svg path,
.footer__social-item-link_linkedin:active svg path {
  fill: var(--hover-color);
}

.footer__social-item-link_mail:active svg path {
  stroke: var(--hover-color);
}
