.header {
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__right-column {
  display: flex;
  align-items: center;
  column-gap: 52px;
}

.header__nav {
  display: flex;
  column-gap: 52px;
}

.header__nav-item {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #1c1c1c;
  transition: color .3s ease-in-out;
}

.header__nav-item:focus {
  outline: 1px solid var(--focus-color);
  outline-offset: 3px;
}

.header__nav-item:hover {
  color: var(--focus-color);
}

.header__nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 2px;
  background-color: #3474ba;
  content: '';
  transition: opacity .3s ease-in-out;
}

.header__nav-item:active {
  outline: none;
  color: #3474ba;
}

.header__nav-item:active::after {
  opacity: 1;
}

.burger {
  display: none;
  width: 40px;
  height: 40px;
  border: 1px solid currentColor;
  border-radius: 3px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: var(--hover-color);
  cursor: pointer;
  row-gap: 4px;
}

.burger__line {
  width: 20px;
  height: 2px;
  border-radius: inherit;
  background-color: currentColor;
}

@media (max-width: 992px) {
  .header__nav {
    display: none;
  }

  .header__right-column {
    column-gap: 7px;
  }

  .burger {
    display: flex;
  }

  .header__button {
    padding: 13px 20px;
    line-height: 100%;
  }
}

@media (max-width: 576px) {
  .header {
    padding: 15px 0;
  }

  .header__logo {
    max-width: 80px;
  }

  .header__button {
    padding: 13px 21px;
  }
}
