.hero {
  padding: 100px 0 150px;
  background-image: url('../../images/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.hero__content {
  display: flex;
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  margin: 0 0 26px 0;
  font-size: 40px;
  font-weight: 300;
  line-height: 130%;
  color: #1c1c1c;
}

.hero__description {
  margin: 0 0 34px 0;
  font-size: 16px;
  line-height: 155%;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__button {
  min-width: 250px;
  margin-bottom: 14px;
}

.hero__secure {
  padding-left: 27px;
  font-size: 11px;
  text-transform: uppercase;
  line-height: 155%;
  background-image: url("images/secure.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 14px 17px;
}

@media (max-width: 992px) {
  .hero__content {
    max-width: 75%;
  }
}

@media (max-width: 576px) {
  .hero {
    padding-top: 30px;
    padding-bottom: 0;
    background: white;
  }

  .hero__content {
    max-width: 100%;
  }

  .hero__title {
    margin-bottom: 15px;
  }

  .hero__description {
    margin-bottom: 15px;
  }

  .hero__wrapper {
    width: 100%;
  }

  .hero__button {
    min-width: 100%;
    padding: 19px 35px;
    line-height: normal;
  }
}
