.join-as-form {
  display: flex;
  padding-right: 55px;
  padding-left: 55px;
  flex-direction: column;
  row-gap: 19px;
}

.join-as-form__top-row {
  display: flex;
  justify-content: space-between;
  gap: 19px;
}

.join-as-form__left-column {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 19px;
}

.join-as-form__right-column {
  width: 50%;
}

.join-as-form__item {
  width: 250px;
  padding: 16px 28px;
  border: 1px solid #dadada;
  font-size: 16px;
  line-height: 180%;
  background: #fff;
  color: #787878;
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.join-as-form__input {
  border-radius: 50px;
}

.join-as-form__select {
  border-radius: 50px;
}

.join-as-form__textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.join-as-form__item:focus {
  outline: none;
  border-color: var(--focus-color);
  background-color: rgba(113, 167, 226, 0.20);
}

.join-as-form__item:hover {
  border-color: var(--focus-color);
}

.join-as-form__item:active {
  outline: none;
  border: 1px solid var(--active-color);
  color: #1c1c1c;
}

.join-as-form__bottom-row {
  display: flex;
  justify-content: flex-end;
}

.join-as-form__bottom-row-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 9px;
}

.join-as-form__submit-button {
  min-width: 230px;
  border-radius: 50px;
}

@media (max-width: 1200px) {
  .join-as-form__item {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .join-as-form {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .join-as-form {
    gap: 13px;
  }

  .join-as-form__top-row {
    flex-direction: column;
  }

  .join-as-form__left-column,
  .join-as-form__right-column {
    width: 100%;
  }

  .join-as-form__bottom-row {
    justify-content: center;
  }

  .join-as-form__item {
    padding: 15px 20px;
  }

  .join-as-form__left-column {
    gap: 15px;
  }

  .join-as-form__top-row {
    gap: 15px;
  }

  .join-as-form__textarea {
    height: 240px;
  }

  .join-as-form__bottom-row-wrapper {
    width: 100%;
    gap: 16px;
  }

  .join-as-form__submit-button {
    width: 100%;
    min-height: 60px;
  }
}
