.service-card {
  display: flex;
  width: 270px;
  padding: 60px 30px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.service-card:not(:nth-child(4n)) {
  margin-right: 30px;
}

.service-card__title {
  margin: 0 0 15px 0;
  text-align: center;
  transition: color .3s ease-in-out;
}

.service-card__description {
  margin: 0;
  text-align: center;
  line-height: 150%;
  transition: color .3s ease-in-out;
}

.service-card__icon {
  margin-bottom: 28px;

}

.service-card__icon svg path {
  transition: fill .3s ease-in-out;
  fill: var(--hover-color);
}

.service-card:hover {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
  cursor: pointer;
}

.service-card:hover .service-card__icon svg path {
  fill: #fff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description {
  color: #fff;
}
