.service-card {
  display: flex;
  padding: 60px 30px;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  transition: background-color .3s ease-in-out, border-color .3s ease-in-out;
}

.service-card__title {
  margin: 0 0 15px 0;
  text-align: center;
  transition: color .3s ease-in-out;
}

.service-card__description {
  margin: 0;
  text-align: center;
  line-height: 150%;
  transition: color .3s ease-in-out;
}

.service-card__icon {
  display: flex;
  margin-bottom: 28px;
  align-items: center;
  justify-content: center;
}

.service-card__icon svg path {
  transition: fill .3s ease-in-out;
  fill: var(--hover-color);
}

.service-card:hover {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
  cursor: pointer;
}

.service-card:hover .service-card__icon svg path {
  fill: #fff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card__description {
  color: #fff;
}

@media (max-width: 576px) {
  .service-card {
    min-height: 222px;
    padding: 15px;
  }

  .service-card__icon {
    max-width: 56px;
    height: 42px;
    margin-bottom: 15px;
  }

  .service-card__icon svg {
    max-width: 56px;
    max-height: 42px;
  }

  .service-card__title {
    margin-bottom: 3px;
    font-size: 16px;
  }

  .service-card__description {
    font-size: 12px;
  }
}
